create database Session1_23
USE [Session1_23]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Offices](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CountryID] [int] NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Contact] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Office] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[ID] [int] NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_UserRole] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] identity NOT NULL,
	[RoleID] [int] NOT NULL,
	[Email] [nvarchar](150) unique NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[OfficeID] [int] NULL,
	[Birthdate] [date] NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([ID], [Name]) VALUES (1, N'Afghanistan')
INSERT [dbo].[Countries] ([ID], [Name]) VALUES (2, N'Albania')
INSERT [dbo].[Countries] ([ID], [Name]) VALUES (3, N'Algeria')
GO
SET IDENTITY_INSERT [dbo].[Countries] OFF
SET IDENTITY_INSERT [dbo].[Offices] ON 

INSERT [dbo].[Offices] ([ID], [CountryID], [Title], [Phone], [Contact]) VALUES (1, 185, N'Abu dhabi', N'638-757-8582
', N'MIchael Malki')
INSERT [dbo].[Offices] ([ID], [CountryID], [Title], [Phone], [Contact]) VALUES (3, 52, N'Cairo', N'252-224-8525', N'David Johns')
INSERT [dbo].[Offices] ([ID], [CountryID], [Title], [Phone], [Contact]) VALUES (4, 13, N'Bahrain', N'542-227-5825', N'Katie Ballmer')
SET IDENTITY_INSERT [dbo].[Offices] OFF
INSERT [dbo].[Roles] ([ID], [Title]) VALUES (1, N'Administrator')
INSERT [dbo].[Roles] ([ID], [Title]) VALUES (2, N'User')
ALTER TABLE [dbo].[Offices]  WITH CHECK ADD  CONSTRAINT [FK_Office_Country] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Countries] ([ID])
GO
ALTER TABLE [dbo].[Offices] CHECK CONSTRAINT [FK_Office_Country]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Offices] FOREIGN KEY([OfficeID])
REFERENCES [dbo].[Offices] ([ID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Offices]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([ID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO 


drop table tracking
create table Tracking(
	ID int identity primary key,
	LoginDateTime datetime null,
	LogoutDateTime datetime null,
	TimeInSystem time null,
	LogoutReason nvarchar(100) null,
	UserID int not null, --FK
	foreign key (UserID) references Users(ID)
);

select * from Countries
select * from Roles
select firstname, firstname from Users

select Countries.Name from Offices
left join Countries on Offices.CountryID = Countries.ID



select top (1)
	users.firstname as Name,
	users.lastname as [Last Name],
	DATEDIFF(Y,[Birthdate],GETDATE()) as Age,
	roles.title as Roles,
	users.email as Email,
	offices.title as Office
from users
	left join roles on users.roleid = roles.id
	left join offices on users.officeid = offices.id
order by users.id desc


select * from Roles

insert into Users(RoleID, Email, Password, FirstName, LastName, OfficeID, Birthdate, Active) values
(1, 'admin@amonic.com', '123', 'John', 'Link', 1, '1983-1-13', 1)

select * from offices

select * from Tracking

select getdate() from

select convert(varchar, [logindatetime], 108 ) 
select convert(varchar(10),getdate(),104)
select getdate()

select top 1 logoutdatetime from tracking where userid=(select id from users where email='user') order by id desc

select * from users
--System Crash: Just leave

update tracking set LogoutReason = '' where userid=16

update top (1) tracking set LogoutDateTime = Getdate() where id = (select top (1) id from tracking where userid=(select id from users where email='user') order by id desc)
update top (1) tracking set logoutdatetime=getdate() where userid=(select id from users where email='user') order by id desc

select * from tracking
convert(varchar, [logindatetime], 104) as [Date],
convert(varchar, [logindatetime], 108 )  as [Login Time],
logoutdatetime as [Logout Time],
timeinsystem as [Time in System],
logoutreason as [Logout Reason],
userid as [User]
from tracking
where userid=(select id from users where email='user')


select top 1 
convert(varchar, [logindatetime], 104) as [Date], 
convert(varchar, [logindatetime], 108) as [Login Time], 
logoutdatetime as [Logout Time], 
logoutreason as [Reason], 
id 
from tracking where userid=(select id from users where email='user') order by id desc


delete from tracking

select * from tracking
select 
	DATEDIFF([LoginDateTime], [LogoutDateTime])
from tracking
where id = 10

update top (1) tracking set TimeInSystem = DATEDIFF(SS, [LoginDateTime], [LogoutDateTime]) where id = (select top (1) id from tracking where userid=(select id from users where email='user') order by id desc)

select users.email from tracking left join users on tracking.userid = users.id where tracking.id=7

select DATEDIFF(SS, [LoginDateTime], [LogoutDateTime]) from tracking where id = (select top (1) id from tracking where userid=(select id from users where email='user') order by id desc)